.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #031f26;
    color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 250px;
    right: 0;
    height: 60px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.header.expanded {
    left: 0;
}

.user-info {
    display: flex;
    align-items: center;
    position: relative;
}

.user-initial {
    background-color: #005f6b;
    color: white;
    font-size: 1.2rem;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.arrow-icon {
    width: 15px;
    height: 15px;
}

.dropdown-menu {
    position: absolute;
    top: 40px;
    right: -20px;
    background-color: #031f26;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 180px;
    text-align: left;
}

.dropdown-menu p:first-child {
    text-align: left;
}

.dropdown-menu p:last-child {
    text-align: center;
    font-size: 13px;
    margin-top: 0px;
    cursor: pointer;
}

.dropdown-menu hr {
    border: 0.5px solid #476065;
    margin-top: 20px;
}

.create-task-button {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.column1 {
    margin-top: 5px;
}