.new-task-container {
    padding: 20px;
    background-color: #E5F8F8;
}

.sidebar.closed+.main-content {
    margin-left: 0;
}

.section-heading {
    font-size: 15px;
    font-weight: 200;
    color: #031F26;
    padding: 15px;
    text-align: left;
}

.form-group {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group label {
    display: block;
    margin: 10px 0 5px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: calc(100% - 150px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    width: calc(100% - 20px);
    height: 100px;
}

.form-group .buttons {
    display: flex;
    justify-content: flex-end;
}

.form-group .buttons button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group .buttons .save {
    background-color: #004d40;
    color: white;
}

.buttons .cancel {
    background-color: #ccc;
}