.profile-page {
    background-color: #e5f8f8;
    min-height: 100vh;
    display: flex;
}

.profile-container {
    margin: 20px auto;
    max-width: 800px;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
    margin-bottom: 30px;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;
    border-radius: 50%;
}

.hidden-input {
    margin-top: 25px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}


.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #666;
    outline: none;
}

.form-group input:disabled {
    background-color: #f5f5f5;
    cursor: not-allowed;
}

.form-actions {
    text-align: center;
}

.edit-profile-button {
    cursor: pointer;
    background-color: #12454a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.edit-profile-button:hover {
    background-color: #0d343a;
}