/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5faff;
}

.app-container {
    display: flex;
    height: 100vh;
}

/* Sidebar styles */
.sidebar {
    background-color: #073642;
    color: white;
    width: 250px;
    padding: 20px;
}

.sidebar .logo h2 {
    margin: 0;
    color: #00ffcc;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin: 20px 0;
    cursor: pointer;
}

/* Dashboard styles */
.dashboard {
    flex: 1;
    padding: 20px;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-initial {
    background-color: #073642;
    color: white;
    border-radius: 50%;
    padding: 10px 15px;
    font-weight: bold;
    margin-right: 10px;
}

.task-dashboard {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.dashboard-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dashboard-card .number {
    font-size: 2em;
    color: #073642;
}

.latest-tasks table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.latest-tasks th,
.latest-tasks td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.completed {
    color: green;
}

.in-progress {
    color: orange;
}

.footer {
    color: white;
    background-color: black;
    padding: 15px 0px;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}