.user-container {
    padding: 20px;
    background-color: #E5F8F8;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 250px;
    padding: 80px 20px 20px;
    transition: margin-left 0.3s ease;
}

.sidebar.closed+.main-content {
    margin-left: 0;
}

.section-heading {
    font-size: 15px;
    font-weight: 200;
    color: #031F26;
    padding: 15px;
    text-align: left;
}

.users-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.users-table th,
.users-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}

.users-table th {
    color: #333;
    font-weight: bold;
}

.users-table td {
    color: #555;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.action-btn {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.view-btn {
    background-color: orange;
    border-color: orange;
}

.view-btn:hover {
    background-color: #FF9E0C;
}

.edit-btn {
    background-color: #28a745;
    border-color: #28a745;
}

.edit-btn:hover {
    background-color: #218838;
}

.delete-btn {
    background-color: #dc3545;
    border-color: #dc3545;
}

.delete-btn:hover {
    background-color: #c82333;
}
