.tasks-container {
    padding: 20px;
    flex-grow: 1;
  }
  
  body{
    background-color: #E5F8F8;
  }

  .filter-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
    color: #031f26;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .filter-btn img {
    width: 15px;
    height: 15px;
  }
  
  .view-details-btn {
    position: relative;
    right:30px;
    background-color: #12454a;
    font-weight: normal;
    color: white;
    font-size: 14px;
    border: none;
    width:100px;
    height: 40px;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .view-details-btn:hover {
    background-color: #0f383c;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .pagination-btn {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .pagination-current {
    font-weight: bold;
    font-size: 1rem;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.modal-header {
    text-align: center;
    margin-bottom: 20px;
}

.modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
    width: 35px;
    height: 35px;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.modal-dates p,
.modal-notes p {
    margin: 5px 0;
}

.modal-notes textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.edit-btn {
    background-color: #12454a;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #0f383c;
}

