.dashboard-container {
  padding: 20px;
  background-color: #E5F8F8;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  padding: 80px 20px 20px;
  transition: margin-left 0.3s ease;
}

.sidebar.closed + .main-content {
  margin-left: 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #E5F8F8;
}

.section-heading {
  font-size: 15px;
  font-weight: 200;
  color: #031F26;
  background-color: #D5F1F0;
  padding: 15px;
}

.task-summary {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.summary-card {
  flex: 1;
  max-width: 150px;
  text-align: left;
  padding: 15px;
  border-radius: 8px;
  margin: 10px 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.summary-content {
  display: flex;
  align-items: center;
  gap: 18px;
}

.summary-icon {
  width: 45px;
  height: 45px;
}

.summary-card h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.summary-card p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: #666;
}

.task-table {
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background: white;
}

.task-table th,
.task-table td {
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.task-table th {
  background-color: #ffffff;
  color: #333333aa;
  border-bottom: 1px solid #e0e0e0;
}

.task-table td.completed {
  color: #4caf50;
}

.task-table td.inprogress {
  color: #ff9800;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  color: white;
  background-color: #000000;
  padding: 10px 0;
  z-index: 1000;
}
