/* Modal container */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding:30px;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 0.3s ease-in-out;
}

/* Modal content styling */
.modal-content {
    background-color: #fefefe;
    padding: 40px;
    border: 1px solid #ddd;
    height: auto;
    max-width: 500px; 
    width: 90%;  
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    animation: slideUp 0.3s ease-out;
}

/* Form styling */
.modal-form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* Form input labels */
.modal-form-group label {
    margin-bottom: 5px;
    color: #757575;
    font-weight: 500;
}

/* Modal form inputs */
.modal-form-group input {
    padding: 12px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #fafafa;
    transition: border 0.3s ease;
}

.modal-form-group input:focus {
    outline: none;
    border-color: #004d40;
    background-color: #fff;
}

.modal-form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.edit-profile-btn {
    width: 100%;
    padding: 12px;
    background-color: #004d40;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.edit-profile-btn:hover {
    background-color: #00332c;
}

.cancel-btn {
    width: 100%;
    padding: 12px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

.cancel-btn:hover {
    background-color: #d32f2f;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}