footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    color: white;
    background-color: #000000;
    padding: 10px 0;
    z-index: 1000;
  }
  